body
{
    background-color: #F43E43;
    text-align: center;
}
.container 
{
    display: inline-block;
    position: relative;
}
.container .text 
{
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%;
    font-family: "Barlow Condensed",arial, helvetica;
    color: #fff;
    font-size: 500%;
    width: 70%;
}
.text
{   
    color: #fff;
    transition: all 1s ease-in;
    background-image: linear-gradient(
      to right,
      #454545,
      #fff
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 20% 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
    transition: all 0.5s ease-in-out;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
    cursor: pointer;
}
  
.text:hover 
{
   background-position: 0;
   text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
   cursor: pointer;
}
  
.text:hover::before
{
    width: 100%;
}
