body
{
    background-color: rgb(20, 20, 20);
}
#first_action
{
    text-align: center;
}
form
{
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 500%;
    margin-top: 25%;
    color: rgb(64, 172, 172);
    border-radius: 50px;
    width: 75%;
    background-color: #ffcf00;;
}