body
{
    text-align: center;
    font-family: "Barlow Condensed",arial, helvetica;
    color: rgb(64, 172, 172);
    background-color: rgb(20, 20, 20);
}
img
{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
}
button
{
    margin-top: 2%;
    border-radius: 20px;
    width: 50%;
    height: 20%;
    background-color:#fff;
    color: rgb(97, 97, 97);
    font-size : 200%;
    align-items: center;
    transition: all 0.5s ease-out;
}
button:hover 
{
    border-color: aquamarine;
    background-color: #021d20;
    color: white;
}
button:focus
{
    border-color: aquamarine;
    background-color: #021d20;
}
img:hover
{
    cursor:grab;
}