body
{
    text-align: center;
    font-family: "Barlow Condensed",arial, helvetica;
    color: #454545;
    background-color: #C8C8C8;
}
header
{
    background-color: #F43E43;
}
#logo
{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
}
button
{
    margin-top: 2%;
    border-radius: 20px;
    width: 70%;
    height: 20%;
    background-color:#fff;
    color: #454545;
    font-size : 200%;
    align-items: center;
    transition: all 0.5s ease-out;
}
button:hover 
{
    border-color: #454545;
    background-color: #F43E43;
    color: white;
    cursor: pointer;
}
button:focus
{
    border-color: #454545;
    background-color: #F43E43;
}
img:hover
{
    cursor:pointer;
}
footer
{
    background-color: #F43E43;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
}
#logout
{
    width: 10%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }