body
{
    background-color: #454545;
    text-align: center;
    margin-top: 10%;
}
#register
{
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    color: aquamarine;
}
#reset_password_email
{
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    color :#fff;
}
label
{
    margin-top: 100px;
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    color :#fff;
}
input
{
    margin-top: 1%;
    border-radius: 20px;
    width: 50%;
    height: 20%;
    background-color:#fff;
    color: rgb(97, 97, 97);
    border-color: aquamarine;
    font-family: "Barlow Condensed", arial, Arial, Helvetica;
    font-size : 200%;
    align-items: center;
    transition: all 0.5s ease-out;
    text-align: center;
}
input:hover 
{
    border-color: aquamarine;
    background-color: #021d20;
    color: white;
    font-family: "Barlow Condensed", arial, helvetica;
}
input:focus
{
    border-color: aquamarine;
    background-color: #021d20;
}
