body
{
    background-color: rgb(20, 20, 20);
    text-align: center;
    margin-top: 10%;
}
#register
{
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    color: rgb(64, 172, 172);
}
#reset_password_email
{
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    color :#ffcf00;
}
#password
{
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    color :#ffcf00;
}
#reset_password_email_box
{
    text-align: center;
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    border-radius: 50px;
    width: 40%;
    border-color: coral;
    border-style: solid;
}
#reset_password_generation
{
    margin-top: 3%;
    text-align: center;
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    border-radius: 50px;
    width: 40%;
    border-color: coral;
    border-style: solid;
}
#back_to_login
{
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    color: #ffcf00;
}
button
{
    border-color: aquamarine;
    background-color: #021d20;
    color: black;
    font-family: "Barlow Condensed", arial, helvetica;
}
button:hover 
{
    border-color: aquamarine;
    background-color: #021d20;
    color: white;
    font-family: "Barlow Condensed", arial, helvetica;
    
}
