body
{
    text-align: center;
    font-family: "Barlow Condensed",arial, helvetica;
    color: #F43E43;
    background-color: #454545;
    transition: ease-in-out;
}
img
{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
}
img:hover
{
    cursor:grab;
}
footer
{
    background-color: #F43E43;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
}