body
{
    background-color: #454545;
    text-align: center;
    margin-top: 10%;
}
#create
{
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 500%;
    color: aquamarine;
}
#email
{
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    color :#fff;
}
#password
{
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    color :#fff;
}
#email_box
{
    text-align: center;
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    border-radius: 50px;
    width: 40%;
    border-color: aquamarine;
    border-style: solid;
}
#password_box
{
    text-align: center;
    font-family: "Barlow Condensed",arial, helvetica;
    font-size: 200%;
    border-radius: 50px;
    width: 40%;
    border-color: aquamarine;
    border-style: solid;
}
#trial
{
    margin-top: 5%;
    border-color: aquamarine;
    background-color: #fff;
    color: black;
    font-family: "Barlow Condensed", arial, helvetica;
    transition: all 0.5s ease-out;
    font-size: 200%;
    border-radius: 50px;
    width: 40%;
}
#trial:hover 
{
    border-color: aquamarine;
    background-color: #021d20;
    color: white;
    font-family: "Barlow Condensed", arial, helvetica;
    font-size: 200%;
    border-radius: 50px;
    width: 40%;
}
#trial:focus
{
    border-color: aquamarine;
    background-color: #021d20;
}
#account_already_on
{
    margin-top: 5%;
    border-color: aquamarine;
    background-color: #fff;
    color: black;
    font-family: "Barlow Condensed", arial, helvetica;
    transition: all 0.5s ease-out;
    font-size: 200%;
    border-radius: 50px;
    width: 40%;
}
#account_already_on:hover 
{
    border-color: aquamarine;
    background-color: #021d20;
    color: white;
    font-family: "Barlow Condensed", arial, helvetica;
    font-size: 200%;
    border-radius: 50px;
    width: 40%;
}
#account_already_on:focus
{
    border-color: aquamarine;
    background-color: #021d20;
}
