body
{
    text-align: center;
    font-family: "Barlow Condensed",arial, helvetica;
    color: rgb(7, 41, 41);
    background-color: rgb(231, 231, 231);
}
#textarea-player
{
    margin: auto;
    max-width: fit-content;
}
#playername #playedclubs
{
    font-weight: bold;
    margin-top: 10%;
}
#Page2
{
    color: azure;
    margin-top: 5%;
}
#title
{
    margin-top: 2%;
}
input [type=submit]
{
    border-color: aquamarine;
    background-color: #021d20;
    color: aliceblue;
    font-family: "Barlow Condensed", arial, helvetica;
}
input[type=submit]:hover 
{
    border-color: aquamarine;
    background-color: #021d20;
    color: aliceblue;
    font-family: "Barlow Condensed", arial, helvetica;
    border-radius: 5px;
}
#clubs h2
{
    margin-top: 10%;
    margin-bottom: 10%;

}
#clublist h1
{
    margin-top: 5%;
    font-size: 150%;
}
#who
{
    margin-top: 10%;
}
#enterthename
{
    margin-top: 20px;
}
#time
{
    margin-top: 20px;
}
button
{
    margin-top: 5%;
    border-radius: 20px;
    width: 80%;
    height: 50px;
    background-color: #ffcf00;
    color: rgb(97, 97, 97);
    font-family: "Barlow Condensed", arial, Arial, Helvetica;
    font-size : 200%;
    align-items: center;
}
h1 a
{
    color:rgb(0, 0, 0);
}
#heart-points
{
    margin-top: 20px;
}
#life
{
    color : rgba(57, 151, 70, 0.979);
    text-shadow: 2px 2px black;
    font-weight: bold;
    font-size: 50px;
}