body
{
    text-align: center;
    font-family: "Barlow Condensed",arial, helvetica;
    color: rgb(64, 172, 172);
    background-color: rgb(20, 20, 20);
}
#textarea-player
{
    margin: auto;
    max-width: fit-content;
}
#playername #playedclubs
{
    font-weight: bold;
    margin-top: 10%;
}
#Page2
{
    color: azure;
    margin-top: 5%;
}
#title
{
    margin-top: 2%;
}
input [type=submit]
{
    border-color: aquamarine;
    background-color: #021d20;
    color: aliceblue;
    font-family: "Barlow Condensed", arial, helvetica;
}
input[type=submit]:hover 
{
    border-color: aquamarine;
    background-color: #021d20;
    color: aliceblue;
    font-family: "Barlow Condensed", arial, helvetica;
    border-radius: 5px;
}
#clubs h2
{
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 400%;
    text-decoration: underline;
    color: rgb(201, 186, 186);

}
#clublist h1
{
    margin-top: 1%;
    font-size: 300%;
}
#who
{
    margin-top: 4%;
}
#enterthename
{
    margin-top: 1%;
}
button
{
    margin-top: 2%;
    border-radius: 20px;
    width: 50%;
    height: 20%;
    background-color: #ffcf00;
    color: rgb(97, 97, 97);
    font-family: "Barlow Condensed", arial, Arial, Helvetica;
    font-size : 200%;
    align-items: center;
}
h1 a
{
    color:rgb(0, 0, 0);
}
#heart-points
{
    margin-top: 20px;
}
#life
{
    color : rgba(57, 151, 70, 0.979);
    text-shadow: 2px 2px black;
    font-weight: bold;
    font-size: 50px;
}
#score
{
    color : rgba(255, 145, 0, 0.979);
    text-shadow: 2px 2px black;
    font-weight: bold;
    font-size: 50px;
}
#score-count
{
    font-size: 22px;
}